<h1 *ngIf="isAddMode">Add Favorite Movie</h1>
<h1 *ngIf="!isAddMode">Edit Movie</h1>
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Movie Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && a.name.errors }" />
        <div *ngIf="submitted && a.name.errors" class="invalid-feedback">
            <div *ngIf="a.name.errors.required">Movie Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="yearOfPublication">Year Of Publication</label>
        <input type="text" formControlName="yearOfPublication" class="form-control" [ngClass]="{ 'is-invalid': submitted && a.yearOfPublication.errors }" />
        <div *ngIf="submitted && a.yearOfPublication.errors" class="invalid-feedback">
            <div *ngIf="a.yearOfPublication.errors.required">Year Of Publication is required</div>
            <div *ngIf="a.yearOfPublication.errors.minlength">Year Of Publication should be 4 digits</div>
            <div *ngIf="a.yearOfPublication.errors.maxlength">Year Of Publication should be 4 digits</div>
            <div *ngIf="a.yearOfPublication.errors.pattern">Year Of Publication should contain only digits</div>
        </div>
    </div>
    <div class="form-group">
        <label for="directorsName">Director's Name</label>
        <input type="text" formControlName="directorsName" class="form-control" [ngClass]="{ 'is-invalid': submitted && a.directorsName.errors }" />
        <div *ngIf="submitted && a.directorsName.errors" class="invalid-feedback">
            <div *ngIf="a.directorsName.errors.required">Director's name is required</div>
        </div>
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
    </div>
</form>