<!-- nav -->
<mat-toolbar color="pimary">
  <button routerLink="/home" class="nav-button" mat-raised-button color="primary">Home</button>
  <button routerLink="/movies/save" class="nav-button" mat-raised-button color="primary">Add Movie</button>
  <button (click)="logout()" class="nav-button" mat-raised-button color="primary">Logout</button>
</mat-toolbar>

<!-- main app container -->    
<router-outlet></router-outlet>


<!-- footer -->
<div style="text-align: center; padding-top: 1%;">
  <footer>Giannis Avramidis © 2020</footer>
</div>