
    <h3>First Child - Movie Name</h3>
    <form [formGroup]="movieForm">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Movie Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="movieForm.controls.name.touched && movieForm.controls.name.invalid">
                <span *ngIf="movieForm.controls.name.errors.required">Movie Name is mandatory.</span>
            </mat-error>
        </mat-form-field>
    </form>
   
