.example-container{
    text-align: center
}

.form-container{
    padding-left: 35%;
    padding-right: 35%;
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.form-button{
    width:auto;
    height:auto;
    margin: 10px;
}