
<mat-card class="form-container example-container">
    <h2>Login Page</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                <span *ngIf="loginForm.controls.username.errors.required">Username is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                <span *ngIf="loginForm.controls.password.errors.required">Password is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <button class="form-button" mat-raised-button color="primary" type="submit" [disabled]="loading">Log In</button>
        <button [routerLink]="['/users/register']" class="form-button" mat-raised-button color="primary" type="submit" [disabled]="loading">Register</button>
    </form>
</mat-card>