<mat-card class="form-container example-container">
    <h2>Registration Page</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput formControlName="firstname" required>
            <mat-error *ngIf="registerForm.controls.firstname.touched && registerForm.controls.firstname.invalid">
                <span *ngIf="registerForm.controls.firstname.errors.required">FirstName is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="lastname" required>
            <mat-error *ngIf="registerForm.controls.lastname.touched && registerForm.controls.lastname.invalid">
                <span *ngIf="registerForm.controls.lastname.errors.required">LastName is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                <span *ngIf="registerForm.controls.email.errors.required">Email is mandatory.</span>
                <span *ngIf="registerForm.controls.email.errors.pattern">Please provide a valid email address</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
                <span *ngIf="registerForm.controls.username.errors.required">Username is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                <span *ngIf="registerForm.controls.password.errors.required">Password is mandatory.</span>
                <span *ngIf="registerForm.controls.password.errors.minlength">Password should be at least 6 characters</span>
            </mat-error>
        </mat-form-field>
        <button class="form-button" mat-raised-button color="primary" type="submit" [disabled]="loading">Register</button>
        <button  routerLink="" class="form-button" mat-raised-button color="primary" type="submit" [disabled]="loading">Cancel</button>
    </form>
</mat-card>

<!-- nav <button [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
