<mat-card class="form-container example-container">
    <h2 *ngIf="isEditMode">Edit Movie</h2>
    <h2 *ngIf="!isEditMode">Add Movie</h2>
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <app-firtst-child #movieName></app-firtst-child>
        <app-second-child #directorsName></app-second-child>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Year Of Publication</mat-label>
            <input matInput formControlName="yearOfPublication" required>
            <mat-error *ngIf="movieForm.controls.yearOfPublication.touched && movieForm.controls.yearOfPublication.invalid">
                <span *ngIf="movieForm.controls.yearOfPublication.errors.required">Year Of Publication is mandatory.</span>
                <span *ngIf="movieForm.controls.yearOfPublication.errors.pattern">Year Of Publication should contain only digits.</span>
                <span *ngIf="movieForm.controls.yearOfPublication.errors.minlength">Year Of Publication should be 4 digits.</span>
                <span *ngIf="movieForm.controls.yearOfPublication.errors.maxlength">Year Of Publication should be 4 digits.</span>
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="form-field" appearance="outline">
            <mat-label>Movie Name</mat-label>
            <input matInput formControlName="name"required>
            <mat-error *ngIf="movieForm.controls.name.touched && movieForm.controls.name.invalid">
                <span *ngIf="movieForm.controls.name.errors.required">Movie Name is mandatory.</span>
            </mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field class="form-field" appearance="outline">
            <mat-label>Director's Name</mat-label>
            <input matInput formControlName="directorsName" required>
            <mat-error *ngIf="movieForm.controls.directorsName.touched && movieForm.controls.directorsName.invalid">
                <span *ngIf="movieForm.controls.directorsName.errors.required">Director's Name is mandatory.</span>
            </mat-error>
        </mat-form-field> -->
        <button class="form-button" mat-raised-button color="primary" [disabled]="loading" type="submit">Save</button>
    </form>
</mat-card>

